/models
.cache
*.pyc
*.out
*.pkl
*.npz
/data/cdcl-nli/__pycache__
/data/cdcl-nli/checkpoints
/data/cdcl-nli/data
/data/cdcl-nli/data-qwen
/data/cdcl-nli/logs
/data/cdcl-nli/md_files
/data/cdcl-nli/cache
/data/bert-classifier
/data/qwen-emb-classifier
data/cdcl-nli/rst_hallucination_detec/md_files

data/cdcl-nli/rst_hallucination_detec/outputs
data/cdcl-nli/rst_hallucination_detec/batch_inference_jsonl_version1
# data/cdcl-nli/rst_hallucination_detec/batch_inference_jsonl_version2
data/cdcl-nli/rst_hallucination_detec/batch_inference_jsonl_version3
data/cdcl-nli/rst_hallucination_detec/batch_inference_result_version1
# data/cdcl-nli/rst_hallucination_detec/batch_inference_result_version2
data/cdcl-nli/rst_hallucination_detec/batch_inference_result_version3
data/cdcl-nli/rst_hallucination_detec/test_evaluation
data/cdcl-nli/rst_hallucination_detec/test_files
